<!-- <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
</div> -->
<div>
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="login.username" #username="ngModel">

        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required [(ngModel)]="login.pass" #pass="ngModel">

        <button type="submit" (click)="loginSr()">Login</button>
        <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</div>